In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("sentiment.csv")

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 376 entries, 0 to 375
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  233 non-null    object
 1   Unnamed: 1  0 non-null      float64
 2   Unnamed: 2  0 non-null      float64
 3   Unnamed: 3  0 non-null      float64
dtypes: float64(3), object(1)
memory usage: 11.9+ KB

In [5]:
df1.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Why You Should Own Berkshire But Buy 5% Yieldi...,NaN,NaN,NaN
1,"Dividend SenseiThu, May 0571 Comments",NaN,NaN,NaN
2,NaN,NaN,NaN,NaN
3,Berkshire Hathaway's 10-Q And Path To $1T,NaN,NaN,NaN
4,"Envision ResearchWed, May 0441 Comments",NaN,NaN,NaN

In [6]:
df1 = df1.drop('Unnamed: 1', 1)

C:\Users\Katy McGinnis\AppData\Local\Temp\ipykernel_14284\1575141294.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = df1.drop('Unnamed: 1', 1)

In [7]:
df1 = df1.drop('Unnamed: 2', 1)
df1 = df1.drop('Unnamed: 3', 1)

C:\Users\Katy McGinnis\AppData\Local\Temp\ipykernel_14284\3778146164.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = df1.drop('Unnamed: 2', 1)
C:\Users\Katy McGinnis\AppData\Local\Temp\ipykernel_14284\3778146164.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  df1 = df1.drop('Unnamed: 3', 1)

In [8]:
df1.head()

                                          Unnamed: 0
0  Why You Should Own Berkshire But Buy 5% Yieldi...
1              Dividend SenseiThu, May 0571 Comments
2                                                NaN
3          Berkshire Hathaway's 10-Q And Path To $1T
4            Envision ResearchWed, May 0441 Comments

In [9]:
df1.rename(columns = {'Unnamed: 0':'Headline'}, inplace = True)

In [10]:
df1.head()

                                            Headline
0  Why You Should Own Berkshire But Buy 5% Yieldi...
1              Dividend SenseiThu, May 0571 Comments
2                                                NaN
3          Berkshire Hathaway's 10-Q And Path To $1T
4            Envision ResearchWed, May 0441 Comments

In [11]:
df1 = df1.dropna()

In [12]:
df1.head()

                                            Headline
0  Why You Should Own Berkshire But Buy 5% Yieldi...
1              Dividend SenseiThu, May 0571 Comments
3          Berkshire Hathaway's 10-Q And Path To $1T
4            Envision ResearchWed, May 0441 Comments
6      Berkshire Hathaway: Buffett The Buyer Is Back

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 233 entries, 0 to 348
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Headline  233 non-null    object
dtypes: object(1)
memory usage: 3.6+ KB

In [14]:
df1.to_csv('sentiment2.csv')